body {
    margin: 0;
    background-color: #222527;
    
}

@font-face {
    font-family: Blanka;
    src: url("./fonts/Blanka-Regular.otf");
}



.container{
    display: flex;
    position: relative;
    height: 150px;
    background-image: url(img/etoiles.png);
    background-color: black;
    animation: stars 20s linear infinite;
}

@keyframes stars{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 500px 0;
    }

}



h1{
    margin-left: 75px;
    color: #8ef7e5;
    font-size: 46px;
    font-family: Blanka;
}



.container a{
    text-decoration: none;
}

.nav-bar{
    position: absolute;
    right: 70px;
    top: 45px;
    
}

.nav-bar ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0 0.7rem;
}

.nav-bar a{
    text-decoration: none;
    color: #8ef7e5;
    font-family: 'Josefin Sans', sans-serif;
}

h1 a{
    
    color: #8ef7e5;
    animation: logo 1s ease-out reverse;
    position: relative;
}

@keyframes logo{
    

    0%{
        top: 0px;
    }

    25%{
        top: 20%;
    }
    
    50%{
        top: 0;
    }

    75%{
        top: 20%;
    }
    100%{
        top: 0;
    }
}



p{
    font-family: 'Josefin Sans', sans-serif;
    color: #8ef7e5;
    font-weight: 40;
}

.text{
    
    background-image: linear-gradient(rgb(32, 31, 36) 10%, rgb(44, 124, 144) 35%, rgba(0,212,255,0.2) 70%);
    box-shadow:  5px 4px 12px 0px black inset;
    height: 470px;
    margin: 5% 15%;
    padding: 2% 5%;
    opacity: 0.7;
    border-radius: 25px;
}



.form{
    display: flex;
    height: 245px;
    width: 50%;
    margin: 2% auto;
    align-items: center;
    padding: 5%;
    justify-content: center;
}

form{
    margin: 70px auto 100px 50px;
    
}

.content{
    padding: 5%;
    
}

input{
    background-color: #2f3537;
    margin: 10px 60px 10px -65px;
    border: solid #8ef7e5 1px;
    padding: 5px ;
    opacity: 0.5;
    color: #8ef7e5;
    border-radius: 10px;
    box-shadow:   5px 4px 12px 0px black inset;
}



input:hover {
   
    border: 1px solid #999
}

input:focus {
    color: white;
    border: 1px solid #3ccee7;
    box-shadow: inset rgba(0,0,0,0.35) 2px 2px 12px, #8ef7e5 0 0 10px;
    outline: 0;
}

fieldset{
    padding: 30px 150px;
    color: #8ef7e5;
    border: solid #8ef7e5 1px;
    font-family: Blanka;
    font-size: 20px;
    border-radius: 25px;
    box-shadow:   1px 1px 7px -2px #8ef7e5;
}

legend{
    text-align: left;
    margin-left: -65px;
}


button{
    background-image: linear-gradient(rgb(174, 174, 175) 10%, rgba(35, 37, 37) 70%);
    color: #3ab3b3;
    border-radius: 10px;
    margin: 15px 10px;
    font-weight: bold;
    padding: 5px 9px;
    border: solid black 1px;
}

button:hover{
    background-color: #2f3537;
    color: #8ef7e5;
    border-radius: 25px;
    margin: 15px 10px;
    border: solid #8ef7e5 1px;
    padding: 5px 9px;
}


footer{
   
    height: 100px;
    background-color: #90f3e2;
    width: 100%;
    text-align: center;
    padding: 20px;
}

footer h1{
    color: #2f3537;
    text-shadow: 0 0 0.5em black;
    margin: 0;
    text-align: center;
}

footer h1:hover{
    color: white;
}


/* PAGE PROFIL */

.profile{
    margin: 100px auto;
    padding: 20px 80px;
    height: 800px;
    box-shadow:  1px 1px 8px -2px black;
    width: 70%;
}

h2{
    
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    color: #8ef7e5;
}

img{
    max-width: 20%;
    border: solid #8ef7e5 1px;
    position: absolute;
    box-shadow:   2px 2px 8px 0px #8ef7e5;
}

#picture{
    margin-left: 0;
}

.info{
    float: right;
    margin: 0;
    width: 35%;
    height: 40%;
    position: relative;
    border: solid #8ef7e5 1px;
    color: #8ef7e5;
    line-height: 2;
    padding: 0 60px 15px 30px;
    border-radius: 25px;
    box-shadow:   2px 2px 8px -1px #90f3e2;
}

#infos li{
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
}

.edit{
    padding-top: 15px;
}

.edit a{
    text-decoration: none;
    margin-left: 40px;
    color: wheat;
    padding: 5px;
}

.edit a:hover{
    background-color: #999;
    padding: 5px;
    border-radius: 10px;
}

.text-profile{
    display: inline-block;
    margin: 100px auto;
}

#bio{
    line-height: 1;
}

/*PAGE TOURNOI*/

.game{
    display: inline-flex;
    
}

.game .text{
    
    
    margin-bottom: 6%;
}
    
.text a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.text a:hover{
    color: orange;
}

#fight{
    
    right: 0;
   
    border: none;
    box-shadow: none;
    animation: fighters 3s ease;
    animation-fill-mode: both;
    max-width: 30%;
}

@keyframes fighters{
    

    0%{
        right: 0px;
        width: 15%;
    }

    
    100%{
        
        display: none;
        right: 960px;
        width: 30%;
    }
}

#hide{
    width: 230px;
    right: 150px;
    margin: 0 350px;
    opacity: 0;
    animation: hide 3s 2s cubic-bezier(1,-0.28,.69,.56);
    animation-fill-mode: both;
    box-shadow: none;
    border: none;
}

@keyframes hide{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

#red{
    width: 230px;
    right: 150px;
    margin:0 350px;
    opacity: 0;
    animation: hide 3s 3s step-end;
    animation-fill-mode: both;
    box-shadow: none;
    border: none;

}

/*PAGE BOUTIQUE*/

#phortcare{
    display: flex;
    
    background-image: url(img/shop.jpg);
    width: 100%;
    height: 210px;
    background-repeat: no-repeat;
    background-color: #0c0e0e;
    margin: 0 auto;
}

header p{
    font-family: Blanka;
    font-size: 50px;
    margin-left: 100px;
    color: #2f3537;
    text-shadow: #90f3e2 1px 1px, #90f3e2 -1px 1px, #90f3e2 -1px -1px, #90f3e2 1px -1px;
}

#store{
    
    background-color: #121414;
    width: 80%;
    margin: -38px auto;
    height: auto;
    padding-bottom: 50px;
    
}

.care{
    padding: 50px;
    color: white;
    font-weight: 10;
}


#gallery{
    display: flex;
    box-shadow: #90f3e2 1px 1px, #90f3e2 -1px 1px, #90f3e2 -1px -1px, #90f3e2 1px -1px;
    width: 85%;
    margin: 100px auto;
    height: 1700px;
    flex-wrap: wrap;
    flex-direction: column;
}

#galery-nav{
    margin: 75px 0 0 100px;
    
}

#galery-nav img{
    box-shadow: none;

}

#galery-nav a{
    padding: 40px;
}

#galery-big{
    margin: 0 100px;
    
}

#galery-big img{
    display: block;
}

#prix{
    margin-left: 100px;
}

h3{
    
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px 50px;
    
}

#galery-armures{
    margin: 200px 140px;
    
}

#galery-armures p{
    color: #90f3e2;
    font-size: small;
    width: 50%;
    float: right;
}



.wp{
    
    margin: 0px 150px;
    width: 70%;
}

h4{
    color: #41c0c0;
    font-family: Blanka;
}

.wp p{
    color: #90f3e2;
    font-size: small;
    width: 50%;
    float: right;
}

.acheter{
    margin: 175px 330px 0;
    padding: 5px 10px;
    border-radius: 25px;
}

.line{
    width: 100%;
    background-color: orange;
    height: 1px;
    margin: -60px auto 110px;
}

.subtitle{
    padding-top: 35px;
}



/*menu animé*/

.nav-wrap {
    margin: auto;
}
    
#menu { 
    margin: 50px auto; 
    list-style: none; 
    position: relative; 
    width: 800px; 
    font-family: Blanka;
}
#menu li { 
    display: inline-block; 
}
#menu li a { 
    position: relative; 
    z-index: 200; 
    color: #fff3f3; 
    font-size: 16px; 
    display: block; 
    padding: 6px 10px 6px 10px;
    text-decoration: none;
    
}
#menu li a:hover { 
    color: black; 
}
#menu #magic-line-two { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100px; 
    background: #8ef7e5; 
    z-index: 100; 
    border-radius: 5px; 
    
    
}
.current_page_item_two a { 
    color: orange !important; 
}
.ie6 #menu li, .ie7 #menu li {
    display: inline;
}




#errors{
    color: red;
}

/* BOUTON */
.position {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   
  }
  
 
  
#personal {
    color:orange;
    text-decoration:none;
    position:absolute;
    bottom:15px;
    right:2%;
  }
.spot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  
.svg-wrapper {
    
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 100px;
    margin-right: 5px
  }
 
  
#shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #90f3e2;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -243;
    transition: 1s all ease;
  }
 
#text {
    margin-top: -35px;
    text-align: center;
  }
  
#text a {
    color: orange;
    text-decoration: none;
    font-weight: 100;
    font-size: 1em;
  }
  #text a:hover {
    color: white;
    
  }
  
.svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #41c0c0;
  }
  
  

/* BLOG */

.blog{
    margin: 55px auto;
    padding: 20px 80px;
    height: auto;
    box-shadow:  1px 1px 8px -2px black;
    width: 70%;
}

nav li{
    display: inline-block;
}

nav a{
    text-decoration: none;
    color: white;

}

.sidebar li{
    display: block;
    line-height: 1.2;
    
}

.sidebar a{
    text-decoration: none;
    color: #90f3e2;
    display: block;
    
}
.sidebar a:hover{
    color: orange;
}

.main{
   
    width: 65%;
    display: inline-block;
    border-radius: 2px;
    
}

.main span{
    margin: 0;
}

.main h3{
    margin: 145px 0 0 -50px;
    color: #3ab3b3;
}

.main img{
    
    box-shadow: none;
    
}

.sidebar{
    width: 30%;
    margin-top: 50px;
    height: 266px;
    float: right;
    
}

.sidebar form{
    margin: 0;
}

.sidebar ul, li{
    padding: 0;
    margin: 10px auto;
}

.sidebar a{
   transition: color .3s;
   font-size: 14px;
   display: block;
}

.sidebar i{
    color: white;
    font-size: 12px;
}

.article{
    padding: 20px;
    width: 240px;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 200;
    margin: 4% 0% 4% 40px
}

.date {
    color: white;
    font-size: 0.8em;
}

.categorie{
    color: white;
    font-size: 0.8em;
    font-weight: bold;
}

#recherche{
    background-color: #2f3537;
    padding: 5px;
    color: #8ef7e5;
    border-radius: 10px;
    box-shadow: 5px 4px 12px 0px black inset;
    margin: 0 0 40px 0;
    border: none;
    opacity: 1;
}

h5{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

.blog nav a{
    padding: 15px;
}
/* ARTICLE */

#article{
    margin-top:220px;
}

#unique{
    margin-top: 60px;
}

#unique p{
    color: white;
    font-size: 15px;
    text-align: justify;
}

/* ADMIN */

.admin input{
    
	margin: 0;
	padding: 8px;
}

.admin input[type=submit] {
	border-color: #0c0e0e;
	background: #90f3e2;
    color: black;
    box-shadow: none;
}

.admin input[type=submit]:hover{
    background: orange;
    
}

.admin form{
    margin: 80px 0px 80px -50px;
}

.add input{
    margin: 25px 0;
}

.article a{
    color: #90f3e2;
    text-decoration: none;
}

.article a:hover{
    color: orange;
}

#deconnect{
    text-decoration: none;
    color: #41c0c0;
    float: right;
    margin: -54px -103px;
}

option{
    background: #2f3537;
    color: #90f3e2;
}

select{
    background-color: #2f3537;
    color: #90f3e2;
    border: 1px solid #8ef7e5;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 4px 12px 0px black inset;
    opacity: 0.7;
}

.img-article{
    max-width: 24%;
}

@media screen and (max-width: 1024px) {

    h2{
        font-size: 40px;
    }

    #fight{
        width: 20%;
    }

    fieldset{
        padding: 6px 120px;
    }

    footer{
        height: 75px;
    }

    #phortcare{
        height: 160px;
    }

    header p{
        margin-left: 50px;
    }

    #gallery{
        height: auto;
    }

    .acheter{
        margin: 0 330px 0;
    }

    #galery-nav img{
        margin: -50px;
    }

    .line{
       margin: -113px -35px 75px
    }

    .article{
        width: 180px;
        margin-left: 0;
        padding: 15px;
    }

    .article p{
        font-size: 12px;
    }

    #accueil img{
        max-width: 17%;
    }

    .main{
        width: 60%;
    }

    .main p{
        font-size: 13px;
    }

    .sidebar{
        width: 34%;
    }

    .blog-article{
        width: 100%
    }
    .main img{
        max-width: 30%;
    }
    
    .img-article{
        max-width: 24%;
    }

    .admin input{
        margin-bottom: 10px;
    }

    footer{
        margin-top: 50px;
    }

    
    #hide, #red{

        right: 0;
        margin: 0 275px;
    }

    @keyframes fighters{
    

        0%{
            right: 0px;
            width: 15%;
        }
    
        
        100%{
            
            right: 600px;
            width: 30%;
        }
    }
}

@media screen and (max-width: 768px) {

    #menu li a{
        padding: 6px 1px 0px 6px;
        font-size: 13px;
    }

    h1{
        font-size: 30px;
        margin-top: 54px;
    }

    header p{
        font-size: 35px;
    }

    .text{
        height: 410px;
        margin: 50px auto 0 auto;
        width: 60%;
    }

    h2{
        font-size: 30px;
    }

    #fight{
        width: 20%;
    }

    fieldset{
        padding: 6px 85px;
        margin-top: 50px;
    }

    .form{
        height: auto;
        margin: 0 auto;
    }

    footer{
        height: 75px;
    }

    #phortcare{
        height: 130px;
    }

    header p{
        margin-left: 50px;
    }

    #store{
        margin-top: -56px;
    }

    #gallery{
        margin-top: 50px;
    }

    #galery-big{
        margin-left: 50px;
    }

    .wp p{
        width: 67%;
    }

    .acheter{
        margin: 0 330px 0;
    }

    #galery-nav{
        margin-left: 70px;
    }

    #galery-nav a{
       
        padding: 30px;
    }

    .line{
       margin: -135px -64px 70px;
    }

    .article{
        width: 180px;
        margin-left: 0;
        padding: 15px;
    }

    .article p{
        font-size: 12px;
    }

    .blog nav{
        margin-left: -50px;
    }

    #accueil img{
        max-width: 25%;
    }

    .main{
        width: 60%;
    }

    .main p{
        font-size: 13px;
    }

    .sidebar{
        width: 30%;
    }

    .blog h3{
        padding: 0;
    }

    .blog-article{
        width: 100%
    }
    .main img{
        max-width: 40%;
    }
    
    .img-article{
        max-width: 24%;
    }

    .admin input{
        margin-bottom: 10px;
    }

    .admin{
        margin-left: 0;
    }

    .add{
        margin-left: 0;
    }

    footer{
        margin-top: 50px;

    }

    #hide, #red{

        right: 0;
        margin: 0 210px;
    }
    @keyframes fighters{
    

        0%{
            right: 0px;
            width: 20%;
        }
    
        
        100%{
            
            right: 370px;
            width: 30%;
        }
    }
}

@media screen and (max-width: 570px) {

    #menu li a{
        padding: 6px 1px 0px 6px;
        font-size: 13px;
    }

    h1{
        
        display: none;
    }

    header p{
        font-size: 35px;
    }

    .text{
        height: 410px;
        margin: 50px auto 0 auto;
        width: 60%;
    }

    h2{
        font-size: 30px;
    }

    #hide, #red{

        right: 0;
        margin: 0 180px;
    }

    #fight{
        width: 40%;
    }

    fieldset{
        padding: 6px 40px;
        margin-top: 50px;
        
    }

    legend{
        font-size: 15px;
        margin-left: 0;
    }

    .form{
        height: auto;
        margin: 0 auto;
    }

    input{
        margin: 10px 35px 10px -23px;
    }

    .profile img{
        display: none;
    }

    .info{
        width: 80%;
    }

    #picture{
        display: none;
    }

    .text-profile p{
        font-size: 13px;
    }

    footer{
        height: 75px;
    }

    #phortcare{
        height: 130px;
    }

    header p{
        display: none;
    }

    #store{
        margin-top: -56px;
        height: 950px;
        width: 84%;
    }

    #gallery{
        margin-top: 50px;
    }

    #galery-big{
        margin-left: 50px;
    }

    .wp p{
        width: 67%;
        font-size: 10px;
        margin-right: 45px;
        
    }

    .position{
        text-align: start;
    }

    .acheter{
        display: none;
    }

    #galery-nav{
        margin-left: 29px;
    }

    #galery-nav a{
       
        padding: 27px;
    }

    .line{
       margin: -135px -64px 70px;
    }

    #galery-armures{
        margin: 70px 30px;
    }

    #galery-armures p{
        font-size: 10px;
        width: 40%;
        margin-right: 155px;
    }

    .armures{
        margin: 20px 0;
    }

    .article{
        width: 180px;
        margin-left: 0;
        padding: 15px;
    }

    .article a{
        margin-left: 49px;

    }   

    .article p{
        font-size: 12px;
    }

    .blog nav{
        margin-left: -50px;
    }

    #accueil img{
        max-width: 25%;
    }

    .main{
        width: 60%;
    }

    .main p{
        font-size: 13px;
    }

    .sidebar{
        width: 30%;
    }

    .blog h3{
        padding: 0;
    }

    .blog-article{
        width: 100%
    }
    .main img{
        max-width: 40%;
    }
    
    .img-article{
        max-width: 24%;
    }

    .admin input{
        margin-bottom: 10px;
    }

    .admin{
        margin-left: 0;
    }

    .add{
        margin-left: 0;
    }

    footer{
        margin-top: 50px;
    }

    form{
        margin: 0px auto 30px 16px;
    }

    .line{
        display: none;
    }

    @keyframes fighters{
    

        0%{
            right: 0px;
            width: 20%;
        }
    
        
        100%{
            
            right: 300px;
            width: 30%;
        }
    }
}